
#timelineDiv {

	width: 100%;
	height: 80%;
	text-align: center;
	background: white;
	box-shadow: 0px 5px 10px #888888;
	color: black;
	border-radius: 3px;
	margin-top:2%;

	border-top: 7px solid rgb(0,55,135);

	font-family: 'Roboto'
}

#bubbleMapSVG {
	position:absolute;

}


#timelineDivInner {

}

#sliderLabelsWrapper { 
	height:400px;
	width:20%;
	display: inline-block;
	vertical-align: top;
	margin-top:60px;
	float:left;
	margin-left:15%;

}

#sliderWrapper { 
	width:20%;
	display: inline-block;
	margin: 0 auto;
	margin-top:30px;
	margin-left:10%;
}

#divContainer {


	width: 99%;
	height:100%;
	text-align: center;


}

.headingTwoText{
	font-size: 1.2rem;
	position: relative;

}

.bold{
	font-weight: bold; 
}

.normal{
	font-weight:none;
}

#timeline_title{
	margin-top:5%;
}

/*#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}*/


#audioFeaturesScatterDiv, #bubbleMapView, #lifeOfMusicHitDiv{
	background: white;
}

#audioFeaturesScatterDiv,  #lifeOfMusicHitDiv{

	/*display: inline-block;*/
	overflow: scroll;

}

#audioFeaturesScatterDiv {
	
	border-top: 7px solid crimson;
	padding-top:1.5%;
	height:100%;
	width: 100%;
	box-shadow: 0px 5px 10px #888888;
	border-radius: 3px;
	
}

#lifeOfMusicHitDiv {

	border-top: 7px solid #f6931c;
	padding-top:1.5%;
	height:100%;
	width: 100%;
	float:right;
	box-shadow: 0px 5px 10px #888888;
	border-radius: 3px;

}

#divBelowBubbleMap{
	height:100%;
	width:100%;
	text-align: center;


}

#bubbleMapOutermost{
	height:100%;
	width:100%;
	text-align: center;

}

#bubbleMapView{
	height:100%;
	width:100%;
	text-align: center;
	border-top: 7px solid rgb(255, 255, 2);
	padding-top: 1%;
	box-shadow: 0px 5px 10px #888888;
	border-radius: 3px;
	margin-top:5px;
	overflow: hidden;
	position:relative;

}

#bubbleMap { 


	position:static;
	width:100%;
	height:87%;
	background-image: url("/Expanded.svg");
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	overflow:hidden;

}

.continentDiv {
	width:32%;
	height:80%;

	margin-top:0%;
	position: absolute;
}

.dropdownMenuContainer{ 
	bottom: 2px;
	width:100%;
}

#bubbleDropDown{
	margin-left:10%;
	position: absolute;
	bottom:2px;
}

/*#bubbleDropDownMenuContainer {
	position:absolute;
	top:0px;
	height:5%;
	float:right;
	margin-right:10%;
}*/

#LifeOfMusicLineChart{
	height:40%;
	width:80%;
	margin-left: 10%;
	text-align: center;
	border-top: 7px solid yellow;
	padding-top: 2%;
}

body {
	height:100vh;
	background: #e7e7e7;
	font-family: 'Roboto';

}

#slider-range { 
	height:400px;
	background-color: #e7e7e7;
}

.ui-state-default, .ui-widget-content .ui-state-active {
	background-color: darkgray;
	border-radius: 10px;
	border-color: black;

	border-width: 2px;
}

/*.ui-slider .ui-slider-range .ui-corner-all .ui-widget-header{
	background-color: #f6931c;
}*/

.ui-widget-header{
	background: rgb(255, 255, 2);
}

.ui-slider .ui-slider-handle:focus { 
	outline:none;
	outline-color: darkgray;
}

.ui-slider-handle{
	transform: translateX(1px);
}

/*body {
	display:inline-block;
}*/

#vis_container{
	height:100%;
}

#vis_container_row{
	height:100%;
}

#map_container_row{
	height:50%;
}

#below_container_row{
	height:47%;
	width:100%;
	margin-top:2%;
	margin-left:0%;
	margin-right: 0%;

}

#bubble_map_panel{
	text-align: left;
	padding: 0 3.5%;
	margin-bottom:10px;
	font-size: 0.3rem;
}

#bubble_map_panel h2{
	font-size: 1.3rem;
	margin-bottom: 0;

}

.feature_descriptor{
	margin-bottom:0;
	line-height: 1.2;
	bottom:2px;
	position: absolute;

}

.bubble_map_title_area p{
	font-size:0.6rem;
	margin-bottom: 0;
}

#music_chart_container {
	padding-right: 0px;
}

#audio_features_container {
	padding-left:0;
}

.audio_features_title_area p{
	font-size: 0.6rem;
	margin-bottom: 0;
	line-height:1.15;
}

#audio_features_panel {
	text-align: left;
	padding: 0 3.5%;
	margin-bottom: 5px;
	font-size:0.3rem;
	margin-top: 5px;
}

#audio_features_panel h2{
	font-size:1.3rem;
	margin-bottom:4px;
	line-height: 0.95;
}

#music_chart_panel {
	text-align: left;
	padding: 0 3.5%;
	margin-bottom: 5px;
	font-size:0.3rem;
	margin-top: 5px;
}

#music_chart_panel h2{
	font-size: 1.3rem;
	margin-bottom: 4px;
	line-height: 0.95;
}

.music_chart_title_area p{
	font-size: 0.6rem;
	margin-bottom: 0;
	line-height: 1.15;
}

#audio_features_feature_descriptor{
	font-size: 0.3rem;
	text-align: left;
	padding:0 3.5%;
	line-height: 1.15;

}

#audio_features_feature_descriptor p{
	margin-bottom: 0px;
}

#timelineHeader {
	font-size: 1.3rem;
	text-align: left;
	margin-bottom: 4px;
	margin-top:6%;
	margin-left: 5%;
}

#timelineDivInner p {
	text-align: left;
	font-size: 0.6rem;
	line-height: 1.15;
	margin-left:5%;
	margin-right: 5%
}

#clear_music_chart_songs{
	font-family: 'Roboto';
	float:right;
	font-weight: 300;
	font-size: 0.8rem;
	position:relative;
	bottom:0px;
}

select {
	background-color: rgb(1,16,21);
	color:white;
}

#country_selected_area{
	position: absolute;
	vertical-align: middle;
	min-width:15%;
	min-height:9%;
	left:50%;
	transform: translateX(-50%);
	bottom:0;
	background-color: white;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0px -1px 10px #888888;
}

#country_selected_area h1{
	font-size: 1rem;
}

#country_selected_area h2{
	font-size: 0.6rem;
	color: #888888;
	margin-bottom:2px;
	padding-top:5%;
	font-weight: 500;
}

#welcome_div h2{
	font-size: 1.5rem;
	margin-bottom: 8px;
	line-height: 0.95;
	font-weight: 500;
}

#welcome_div{
	width:100%;
	height:17.5%;
	background: white;
	color:black;
	border-radius:3px;
	padding:6% 6%;
	margin-top:2%;
	margin-bottom:7%;
	border-top: 7px solid rgb(3,33,43);
	box-shadow: 0px 5px 10px #888888;
}
#welcome_div p {
	text-align: left;
	font-size: 0.7rem;
	line-height: 1.2;
	font-weight: 300;
	color: black;

}