#timelineDiv {

	float:left;
	width: 20%;
	height:100%;

}

#divContainer {

	width: 70%;
	height:100%;

}

#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}

#audioFeaturesScatterDiv {
	float:right;
	width:60%;
	height:40%;
}

#bubbleMap{
      
      width:60%;
      height:40%;
      margin-left: 10%;
 

}

body {
	height:100vh;
}

/*body {
	display:inline-block;
}*/