#timelineDiv {

	float:left;
	width: 20%;
	height:100%;
	text-align: center;
	background:#f2de31;

}

#timelineDivInner {
}

#sliderLabelsWrapper { 
	height:530px;;
	width:20%;
	display: inline-block;
	vertical-align: top;
	margin-top:30px;
	float:left;
}

#sliderWrapper { 
	width:20%;
	display: inline-block;
	margin: 0 auto;
	margin-top:30px;
}

#divContainer {

	width: 80%;
	height:100%;
	text-align: center;
	float:right;
}

.bold{
	font-weight: bold; 
}

.normal{
	font-weight:none;
}

/*#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}*/

#slider-range { 
	height:530px;
}

.ui-state-default, .ui-widget-content .ui-state-active {
	background-color: darkgray;
	border:none;
}

/*.ui-slider .ui-slider-range .ui-corner-all .ui-widget-header{
	background-color: #f6931c;
}*/

.ui-widget-header{
	background: #f6931c;
}

.ui-slider .ui-slider-handle:focus { 
	outline:none;
	outline-color: darkgray;
}


#audioFeaturesScatterDiv, #bubbleMapView{
	background: white;
}

#audioFeaturesScatterDiv {
	margin-top:2%;
	height:45%;
	width:80%;
	border-top: 7px solid crimson;
	padding-top:5%;
	text-align: center;
	margin-left: 10%
}

#bubbleMapView{
	/*height:50%;*/
	height:50%;
	width:80%;
	margin-left: 10%;
	text-align: center;
	border-top: 7px solid #f2de31;
	padding-top: 2%;
	position: relative;
}

#bubbleMap { 

	height: 80%;
	width:100%;
	bottom:0px;
	position:absolute;
}

.continentDiv {
	display:inline-block;
	width:32%;
	height:80%;
	bottom:0px;
	margin-top:2%;
}

.dropdownMenuContainer { 

	margin-left:10%;
	width:100%;
}

#bubbleDropDown{
	margin-left:10%;
	position: absolute;
}

/*#bubbleDropDownMenuContainer {
	position:absolute;
	top:0px;
	height:5%;
	float:right;
	margin-right:10%;
}*/

#LifeOfMusicLineChart{
	height:40%;
	width:80%;
	margin-left: 10%;
	text-align: center;
	border-top: 7px solid yellow;
	padding-top: 2%;
}

body {
	height:100vh;
	background: #e7e7e7;
}

.axis line {
    shape-rendering: crispEdges;
}

.scatterTooltip {
  position: absolute;
  width: 20%;
  height: 10%;
  pointer-events: none;
  background-color: #FFE900;
  font-size:80%;
}

.bubbleMapTooltip {

	position: absolute;
	width: 15%;
	height: 5%;
	pointer-events: none;
	background-color: #FFE900;
	font-size:80%;
}

.axisLabelScatter {
}

/*body {
	display:inline-block;
}*/