#timelineDiv {

	float:left;
	width: 20%;
	height:100%;

}

#divContainer {

	width: 70%;
	height:100%;

}

#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}

#audioFeaturesScatterDiv {
	float:right;
	width:60%;
	height:40%;
}

body {
	height:100vh;
}

.axis line {
    shape-rendering: crispEdges;
}

/*body {
	display:inline-block;
}*/