#timelineDiv {

	float:left;
	width: 20%;
	height:100%;

}

#divContainer {

	width: 100%;
	height:100%;
	text-align: center;


}

#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}

#audioFeaturesScatterDiv, #bubbleMap{
	background: white;
}

#audioFeaturesScatterDiv {
	margin-top:2%;
	height:45%;
	width:80%;
	border-top: 7px solid crimson;
	padding-top:5%;
	text-align: center;
	margin-left: 10%
}

#bubbleMap{
	/*height:50%;*/
	height:10%;
	width:80%;
	margin-left: 10%;
	text-align: center;
	border-top: 7px solid yellow;
	padding-top: 2%;
}

.dropdownMenuContainer { 

	margin-left:10%;
	width:100%;
}

#LifeOfMusicLineChart{
	height:40%;
	width:80%;
	margin-left: 10%;
	text-align: center;
	border-top: 7px solid yellow;
	padding-top: 2%;



}

body {
	height:100vh;
	background: #e7e7e7;
}

.axis line {
    shape-rendering: crispEdges;
}

.scatterTooltip {
  position: absolute;
  width: 20%;
  height: 10%;
  pointer-events: none;
  background-color: #FFE900;
  font-size:80%;
}

.bubbleMapTooltip {

	position: absolute;
	width: 20%;
	height: 5%;
	pointer-events: none;
	background-color: #FFE900;
	font-size:80%;

}

.axisLabelScatter {
}

/*body {
	display:inline-block;
}*/