#timelineDiv {

	float:left;
	width: 20%;
	height:100%;

}

#divContainer {

	width: 70%;
	height:100%;

}

#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}

#audioFeaturesScatterDiv {
	float:right;
	width:70%;
	height:40%;
	border-top: 7px solid crimson;
	padding-top:5%;
}

#bubbleMap{
      
      width:60%;
      height:40%;
      margin-left: 10%;
 

}

body {
	height:100vh;
}

.axis line {
    shape-rendering: crispEdges;
}

.scatterTooltip {
  position: absolute;
  width: 20%;
  height: 10%;
  pointer-events: none;
  background-color: #FFE900;
  font-size:80%;
}

.bubbleMapTooltip {

	position: absolute;
	width: 20%;
	height: 5%;
	pointer-events: none;
	background-color: #FFE900;
	font-size:80%;

}

.axisLabelScatter {
}

/*body {
	display:inline-block;
}*/