#timelineDiv {

	float:left;
	width: 20%;
	height:100%;

}

#divContainer {

	width: 70%;
	height:100%;

}

#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}

#audioFeaturesScatterDiv {
	float:right;
	width:60%;
	height:40%;
}

#bubbleMap{
      
      width:60%;
      height:40%;
      margin-left: 10%;
 

}

body {
	height:100vh;
}

.axis line {
    shape-rendering: crispEdges;
}

.scatterTooltip {
  position: absolute;
  width: 200px;
  height: 50px;
  pointer-events: none;
  background-color: #FFE900;
  font-family: sans-serif, verdana;
  font-size:12px;
}

/*body {
	display:inline-block;
}*/