
#timelineDiv {

	width: 100%;
	height:100%;
	text-align: center;
	background:#f2de31;
	position: sticky;

}

#bubbleMapSVG {
	position:absolute;

}

#timelineDivInner {
}

#sliderLabelsWrapper { 
	height:530px;;
	width:20%;
	display: inline-block;
	vertical-align: top;
	margin-top:30px;
	float:left;
}

#sliderWrapper { 
	width:20%;
	display: inline-block;
	margin: 0 auto;
	margin-top:30px;
}

#divContainer {


	width: 100%;
	height:100%;
	text-align: center;


}

.bold{
	font-weight: bold; 
}

.normal{
	font-weight:none;
}

/*#countryListDiv {

	float:right;
	width: 10%;
	height:100%;

}*/


#audioFeaturesScatterDiv, #bubbleMapView, #lifeOfMusicHitDiv{
	background: white;
}

#audioFeaturesScatterDiv,  #lifeOfMusicHitDiv{

	/*display: inline-block;*/
	overflow: scroll;

}

#audioFeaturesScatterDiv {
	
	border-top: 7px solid crimson;
	padding-top:1.5%;
	height:100%;
	width: 100%;
	box-shadow: 0px 5px 10px #888888;
	border-radius: 3px;
	
}

#lifeOfMusicHitDiv {

	border-top: 7px solid #f6931c;
	padding-top:1.5%;
	height:100%;
	width: 100%;
	float:right;
	box-shadow: 0px 5px 10px #888888;
	border-radius: 3px;

}

#divBelowBubbleMap{
	height:100%;
	width:100%;
	text-align: center;


}

#bubbleMapOutermost{
	height:100%;
	width:100%;
	text-align: center;
}

#bubbleMapView{
	/*height:50%;*/
	height:100%;
	width:100%;
	text-align: center;
	border-top: 7px solid #f2de31;
	padding-top: 1%;
	box-shadow: 0px 5px 10px #888888;
	border-radius: 3px;
	margin-top:5px;
}

#bubbleMap { 

	margin-top:0%;
	width: 100%;
	height:95%;
	background-image: url("/basemap.svg");

	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;

}

.continentDiv {
	width:32%;
	height:80%;

	margin-top:0%;
	position: absolute;
}

.dropdownMenuContainer{ 
	bottom: 2px;
	width:100%;
}

#bubbleDropDown{
	margin-left:10%;
	position: absolute;
	bottom:2px;
}

/*#bubbleDropDownMenuContainer {
	position:absolute;
	top:0px;
	height:5%;
	float:right;
	margin-right:10%;
}*/

#LifeOfMusicLineChart{
	height:40%;
	width:80%;
	margin-left: 10%;
	text-align: center;
	border-top: 7px solid yellow;
	padding-top: 2%;
}

body {
	height:100vh;
	background: #e7e7e7;
	font-family: Roboto;

}

#slider-range { 
	height:530px;
}

.ui-state-default, .ui-widget-content .ui-state-active {
	background-color: darkgray;
	border:none;
}

/*.ui-slider .ui-slider-range .ui-corner-all .ui-widget-header{
	background-color: #f6931c;
}*/

.ui-widget-header{
	background: #f6931c;
}

.ui-slider .ui-slider-handle:focus { 
	outline:none;
	outline-color: darkgray;
}

/*body {
	display:inline-block;
}*/

#vis_container{
	height:100%;
}

#vis_container_row{
	height:100%;
}

#map_container_row{
	height:50%;
}

#below_container_row{
	height:47%;
	width:100%;
	margin-top:2%;
	margin-left:0%;
	margin-right: 0%
}

#bubble_map_panel{
	text-align: left;
	padding: 0 3.5%;
	margin-bottom:10px;
	font-size: 0.4rem;
}

#bubble_map_panel h2{
	font-size: 1.4rem;
	margin-bottom: 0;
}

.feature_descriptor{
	margin-bottom:0;
	line-height: 1.2;
	bottom:2px;
	position: absolute;

}

.bubble_map_title_area p{
	font-size:0.7rem;
	margin-bottom: 0;
}

#music_chart_container {
	padding-right: 0;
}

#audio_features_container {
	padding-left:0;
}

.audio_features_title_area p{
	font-size: 0.7rem;
	margin-bottom: 0;
	line-height:1.15;
}

#audio_features_panel {
	text-align: left;
	padding: 0 3.5%;
	margin-bottom: 5px;
	font-size:0.4rem;
	margin-top: 5px;
}

#audio_features_panel h2{
	font-size:1.4rem;
	margin-bottom:4px;
	line-height: 0.95;
}


