.axis line {
    shape-rendering: crispEdges;
}

.bubbleMapTooltip, .scatterTooltip{

  border-radius:2px;

}
.scatterTooltip {
  position: absolute;
  width: 20%;
  height: 10%;
  pointer-events: none;
  background-color: #FFE900;
  font-size:80%;
}

.bubbleMapTooltip {

	position: absolute;
	width: 15%;
	height: 5%;
	pointer-events: none;
	background-color: #FFE900;
	font-size:80%;
}

.axisLabelScatter {
}


.lineChartLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.lineChartLineHover {
  fill: none;
  stroke: crimson!important;
  stroke-width: 3px!important;
}

.bubbleDefault {
  stroke-width:2px;
  fill:#666666;
  stroke:#f2de31;
}

.bubbleClicked { 

  stroke:steelblue!important;
  fill: #333333;
  stroke-width:3px;
}

.bubbleHovered {

  stroke:orange;
  fill:#333333;
  stroke-width:3px;

}
.tooltipTitle { 
}