.axis line {
    shape-rendering: crispEdges;
}

.bubbleMapTooltip, .scatterTooltip{

  border-radius:2px;

}
.scatterTooltip {
  position: absolute;
  max-width: 20%;
  min-width: 10%
  min-height: 5%;
  max-height: 10%;
  padding: 5px;
  pointer-events: none;
  background-color: rgb(255,255,2);
  box-shadow: 0px 2px 5px #888888;
  line-height: 1.1;
  font-size:80%;
}

.bubbleMapTooltip {

	position: absolute;
  min-height: 5%
  min-width:10%;
  max-width: 15%;
  max-height: 10%;
  padding:5px;
	pointer-events: none;
	background-color: rgb(255, 255, 2);
	font-size:80%;
  border-radius: 3px;
  box-shadow: 0px 2px 5px #888888;
  line-height: 1.1;
}

.lineChartTooltip {

  position: absolute;
  width: 15%;
  height: 5%;
  pointer-events: none;
  background-color: #FFE900;
  font-size:80%;
}

.hoverLine { 

  position: absolute;
  pointer-events:none;
  border-top:1px dashed crimson;
  background-color: none;
  height:0.5px;
}

.axisLabelScatter {
}

.monthLabel {
  font-size: 10px;
}


.lineChartLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.lineChartLineHover {
  fill: none;
  stroke: crimson!important;
  stroke-width: 3px!important;
}

.songCircleHovered {
  fill:steelblue!important;
  stroke-width:3px;
  stroke:black;
}

.bubbleDefault {
  stroke-width:2px;
  fill:#666666;
  stroke:#f2de31;
}

.bubbleClicked { 

  stroke:steelblue!important;
  fill: #333333;
  stroke-width:1.5px;
}

.bubbleHovered {

  stroke:orange;
  fill:#333333;
  stroke-width:3px;

}
.tooltipTitle { 
  font-weight: 900;
}

.tooltipKey {
  font-weight: 700;
}

.tooltipSubtitle{
  font-style:italic;
}