.axis line {
    shape-rendering: crispEdges;
}

.bubbleMapTooltip, .scatterTooltip{

  border-radius:2px;

}
.scatterTooltip {
  position: absolute;
  width: 20%;
  height: 10%;
  pointer-events: none;
  background-color: #FFE900;
  font-size:80%;
}

.bubbleMapTooltip {

	position: absolute;
	width: 15%;
	height: 5%;
	pointer-events: none;
	background-color: #FFE900;
	font-size:80%;
}

.axisLabelScatter {
}

.countryHover { 
  border:"orange"; 
  fill:"#333333";
}