.background1{
	background-image: url(http://78.media.tumblr.com/f39746c706771d6cd8d5109eab40a78e/tumblr_mtyfaoOcmi1qfst1ro1_1280.jpg);
	height: 97%;
}

.text_area{
	text-align: center;
	vertical-align: middle;
	color: rgba(255,255,255,0.95);
	font-family: 'Roboto';
	font-weight: 300;
	position: relative;
	margin-top: 30%;

}


.background2{
	background-image: url(https://media.timeout.com/images/101206597/image.jpg);
	height:95%;
}

.background3{
	background-color: rgb(252,238,36);
	height:95%;
	overflow: hidden;
}

.background4{
	background-image: url(http://cdn1.theodysseyonline.com/files/2015/12/21/6358626015026194711499599816_dsc01227.jpg);
	height: 97%;
}

.parallax{ 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

part_1{
	height:100%;
}



.full_text_area{

}

.black_background{
	height:100%;
	width:100%;
	background-color: rgba(1,16,21,.8);
}

.text_area quote_text{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;

}


h1,h2,h3,h4,h5{
	color: white;
	font-weight: 100;
	font-family:'Roboto', sans-serif;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

#intro_text{
	margin-top:30%;
	margin-bottom:20%;
}

#all_caps_header{
	color:rgb(1,34,43);
	font-weight: 700;
	font-size: 64px;
	margin-top: 12%;
	margin-bottom: 3%
}

#sub_header{
	color: rgb(1,34,43);
	font-weight:300;
	margin-bottom: 5%;

}

#button_to_continue{
	color: white;
	background-color: rgb(1,34,43);
	display: block;
	margin: 0 auto;
	font-weight: 500;
	font-size: 24px;
	width:30%;
}

.yellow_text_area{
	height:40%;
	background-color: rgb(252, 238,36);
}

.yellow_text_area h5{
	margin-top: 10%;
	color:black;
	font-weight: 100;
	text-align: left;
}

#first_stats{
	height:25%;
}

#second_stats{
	height:45%;
}

.top_renderings img{
	width:100%;
	padding: 0 15%;
	position: relative;
	transform: translateY(-30%);
	
}

.bottom_renderings img{
	width:100%;
	padding:0 15%;
	position: relative;
	padding-top:50%;
	transform:translateY(10%);
}

h1 strong{
	font-size:84px;
}




